<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="CONSOLE_PATTERN">%date{DEFAULT} [%-5level] %X{TRACE_ID} (%file:%line) - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>